<%- include('header', {tabTitle: "All Countries"}); -%>
  <div class="container">
    <br>
    <br>
    <form class="" action="/" method="get">
      <button type="submit" class="btn btn-outline-dark">Return Home</button>
    </form>
    <br>

    <h1>The List of All Countries</h1>

    <% for (i = 0; i < countriesData.length; i++){ %>
      <div class="card mb-3">
        <br>
        <img class="card-img-top" src="<%= countriesData[i].flag %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= countriesData[i].name %></h5>
          <p class="card-text">
            <% for (j = 0; j < countriesData[i].altSpellings.length; j++){ %>
              <%if (j == 0) { %>
                Can also be called:
              <% } %>
              <% if (j < countriesData[i].altSpellings.length - 1 ) { %>
                <%= countriesData[i].altSpellings[j] %>,
              <% } %>
              <% if (j === countriesData[i].altSpellings.length - 1) { %>
                <%= countriesData[i].altSpellings[j] %>
              <% } %>
            <% } %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              There are approximately <%= countriesData[i].population %> people living there.
              <% if (countriesData[i].demonym != "") { %>
                The people are referred to with the demonym <%= countriesData[i].demonym %>.
              <% } %>
            </small>
          </p>
        </div>
        <br>
      </div>

    <% } %>
  </div>

<%- include('footer'); -%>
