<div class="card mb-3">
  <br>
  <img class="card-img-top" src="<%= country.flag %>" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title"><%= country.name.common %></h5>
    <p class="card-text">
      <%
      let firstElement = true;
      country.altSpellings.forEach(function (element) {
        if (firstElement) {
          firstElement = false; %>
          Can also be identified as:
        <% } %>
          <br>- <%= element %>
      <% }); %>
    </p>
  </div>
  <div class="container-fluid plusBox cardThere">
    <i class="fas fa-plus-circle"></i>
  </div>
  <div class="container-fluid minusBox cardGone">
    <small class="text-muted">
      <!-- <% /* %>

      <p class="card-text">

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.cca2 %>. (ISO 3166-1 Alpha 2 code)">
          <button type="button" class="btn btn-outline-success" disabled>
            Two Letter Country Code
          </button>
        </span>

        <% console.log("Works here"); %>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.cca3 %>. (ISO 3166-1 Alpha 3 code)">
          <button type="button" class="btn btn-outline-success" disabled>
            Three Letter Country Code
          </button>
        </span>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.ccn3 %>">
          <button type="button" class="btn btn-outline-success" disabled>
            Country Code
          </button>
        </span>

        <br>

      </p>
      <p class="card-text">
        <% console.log(country.tld) -%>
        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" title='
          <% for (k = 0; k < Object.keys(country.tld).length; k++) { %>
            <% if (k === Object.keys(country.tld).length - 1) { %>
              <%= country.tld[k] %>
            <% } else { %>
              <%= country.tld[k] %>,
            <% } %>
          <% } %>'>
          <button type="button" class="btn btn-outline-success" disabled>
            Top Level Domain(s)
          </button>
        </span>



        <% if (Object.keys(country.idd).length > 0 && typeof(country.idd.suffixes) === 'undefined') { %>
        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" title='<%= country.idd.root %> <br />'>
          <button type="button" class="btn btn-outline-success" disabled>
            Calling Code(s)
          </button>
        </span>
        <% } %>

        <% else if (Object.keys(country.idd).length > 0 && typeof(country.idd.suffixes) !== 'undefined') { %>
        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" title='
          <% for (l = 0; l < Object.keys(country.idd.suffixes).length; l++) { %>
            <%= country.idd.root + country.idd.suffixes[l] %>
            <% if (l < Object.keys(country.idd.suffixes).length - 1) { %>
              <br />
            <% } %>
          <% } %>'>
          <button type="button" class="btn btn-outline-success" disabled>
            Calling Code(s)
          </button>
        </span>
        <% } %>
      </p>

      <% console.log("Works here 2"); %>


      <p class="card-text">
        <% if (country.capital !== 'undefined' && country.capital[0] !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.capital[0] %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Capital
            </button>
          </span>
        <% } %>

        <% if (country.region !== "undefined" && country.region !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.region %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Region
            </button>
          </span>
        <% } %>

        <% if (country.subregion !== "undefined" && country.subregion !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.subregion %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Subregion
            </button>
          </span>
        <% } %>

        <br>
        <br>
        <span class="d-inline-block" data-bs-toggle="tooltip" title="There are approximately <%= country.population %> people living there.">
          <button type="button" class="btn btn-outline-success" disabled>
            Population
          </button>
        </span>

        <% console.log("Works here 3"); %>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.area %> square kilometers">
          <button type="button" class="btn btn-outline-success" disabled>
            Country Area
          </button>
        </span>


        <% if (country.currencies !== "undefined" && country.currencies !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" title='This country uses the following currencies:
          <% Object.keys(country.currencies).forEach(key => { %>
              <br>- <%= country.currencies[key].name %> (<%= key %>, <%= country.currencies[key].symbol %>)
          <% }); %>'>
            <button type="button" class="btn btn-outline-success" disabled>
              Currencies
            </button>
          </span>
        <% } %>
      </p>

      <% console.log("Works here 4"); %>
      <% */ %> -->

      <% if (typeof country.borders !== "undefined" && country.borders !== "") { %>
        <p class="card-text">
          This country borders the following countries:
          <% for (m = 0; m < Object.keys(country.borders).length; m++ ) { %>
            <br>
            <%= countryCodes.getName(country.borders[m], "en", {select: "official"}) %>
          <% } %>
        </p>
      <% } %>

      <p class="card-text">

      </p>

      <% if (typeof country.languages !== 'undefined' && country.languages !== "") { %>
        <p class="card-text">
          The people of this country speak the following language(s):
          <% Object.keys(country.languages).forEach(key => { %>
            <br /><%= country.languages[key] %> (<%= key %>)
          <% }); %>
        </p>
      <% } %>



    </small>
    <div style="text-align: center;">
      <i class="fas fa-minus-circle"></i>
    </div>
  </div>
  <br>
</div>


<!-- <% /* %>
<% if (country.demonym !== "") { %>
  <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.demonyms %>">
    <button type="button" class="btn btn-outline-success" disabled>
      Demonym
    </button>
  </span>
<% } %>
<% */ %> -->

<!-- <% /* %>
<% if (country.gini !== "" && country.gini !== null ) { %>
  <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.gini %>">
    <button type="button" class="btn btn-outline-success" disabled>
      Gini Coefficient
    </button>
  </span>
<% } %>
<% */ %> -->

<!-- <% /* %>
<p class="card-text">
  The name of this country can be translated into the following languages:
  <% for (const language in country.translations) { %>
    <br>
    <%= langs.getName(language) %>: <%= country.translations[language] %>
  <% } %>
</p>
<% */ %> -->

<!-- <% /* %>
<p class="card-text">
  <a class="btn btn-primary" href="<%= 'https://www.google.com/maps/place/' + country.latlng[0] + ',' + country.latlng[1]%>" role="button">Google Map Location</a>
</p>
<% */ %> -->
