<%- include('header', {tabTitle: search}); -%>
  <div class="container">
    <br>
    <form class="" action="/" method="get">
      <button type="submit" class="btn btn-outline-dark">Return Home</button>
    </form>
    <br>
    <h1><%= search %>: <%= searched %></h1>
    <% if (search === "Search country by code") { %>
      <%- include('countryCard', {country: countriesData}); -%>
    <% } else { %>
      <% for (i = 0; i < countriesData.length; i++){ %>
        <%- include('countryCard', {country: countriesData[i]}); -%>
      <% } %>
    <% } %>
  </div>

<%- include('footer'); -%>
