<%- include('header', {tabTitle: search}); -%>
  <div class="container">
    <br>
    <form class="" action="/" method="get">
      <button type="submit" class="btn btn-outline-dark">Return Home</button>
    </form>
    <br>
    <h1><%= search %>: <%= searched %></h1>
    <% if (search === "Search country by code") { %>
      <%- include('countryCard', {country: countriesData[0]}); -%>
    <% } else { %>
      <% for (i = 0; i < Object.keys(countriesData).length; i++){ %>
        <% if (i % 3 == 0) { %>
          <% console.log("works here", i % 3, i, (i - 2) % 3); %>
          <div class="row"> <!-- for three column row -->
        <% } %>

        <%- include('countryCard', {country: countriesData[i]}); -%>

        <% if ((i - 2) % 3 == 0) { %>
          <% console.log("works here", (i - 2) % 3); %>
          </div>
        <% } %>
      <% } %>
    <% } %>
  </div>

<%- include('footer'); -%>
