<div class="card mb-3">
  <br>
  <img class="card-img-top" src="<%= country.flag %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= country.name %></h5>
    <p class="card-text">
      <%
      let firstElement = true;
      country.altSpellings.forEach(function (element) {
        if (firstElement) {
          firstElement = false; %>
          Can also be identified as:
        <% } %>
          <br>- <%= element %>
      <% }); %>
    </p>
  </div>
  <div class="container-fluid plusBox cardThere">
    <i class="fas fa-plus-circle"></i>
  </div>
  <div class="container-fluid minusBox cardGone">
    <small class="text-muted">

      <p class="card-text">

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.alpha2Code %>. (ISO 3166-1 Alpha 2 code)">
          <button type="button" class="btn btn-outline-success" disabled>
            Two Letter Country Code
          </button>
        </span>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.alpha3Code %>. (ISO 3166-1 Alpha 3 code)">
          <button type="button" class="btn btn-outline-success" disabled>
            Three Letter Country Code
          </button>
        </span>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.numericCode %>">
          <button type="button" class="btn btn-outline-success" disabled>
            Country Code
          </button>
        </span>

        <br>

      </p>
      <p class="card-text">

        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true"
        title='<% for (k = 0; k < country.topLevelDomain.length; k++) { %>
              <% if (k === country.topLevelDomain.length - 1) { %>
                <%= country.topLevelDomain[k] %>
              <% } else { %>
                <%= country.topLevelDomain[k] %>,
              <% } %>
          <% } %>'>
          <button type="button" class="btn btn-outline-success" disabled>
            Top Level Domain(s)
          </button>
        </span>

        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true"
        title='<% for (l = 0; l < country.callingCodes.length; l++) { %>
          +<%= country.callingCodes[l] %>
          <% if (l < country.callingCodes.length - 1) { %>
            <br>
          <% } %>
          <% } %>'>
          <button type="button" class="btn btn-outline-success" disabled>
            Calling Code(s)
          </button>
        </span>
      </p>

      <p class="card-text">

        <% if (country.capital !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.capital %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Capital
            </button>
          </span>
        <% } %>

        <% if (country.region !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.region %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Region
            </button>
          </span>
        <% } %>

        <% if (country.subregion !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.subregion %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Subregion
            </button>
          </span>
        <% } %>

        <br>
        <br>
        <span class="d-inline-block" data-bs-toggle="tooltip" title="There are approximately <%= country.population %> people living there.">
          <button type="button" class="btn btn-outline-success" disabled>
            Population
          </button>
        </span>

        <% if (country.demonym !== "") { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.demonym %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Demonym
            </button>
          </span>
        <% } %>

        <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.area %> square kilometers">
          <button type="button" class="btn btn-outline-success" disabled>
            Country Area
          </button>
        </span>

        <% if (country.gini !== "" && country.gini !== null ) { %>
          <span class="d-inline-block" data-bs-toggle="tooltip" title="<%= country.gini %>">
            <button type="button" class="btn btn-outline-success" disabled>
              Gini Coefficient
            </button>
          </span>
        <% } %>

        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" title='This country uses the following currencies:
        <% for (n = 0; n < country.currencies.length; n++) { %>
          <br><%= country.currencies[n].name %> (<%= country.currencies[n].code %>, <%= country.currencies[n].symbol %>)
        <% } %>'>
          <button type="button" class="btn btn-outline-success" disabled>
            Currencies
          </button>
        </span>

      </p>
      <p class="card-text">

        <% if (country.borders.length > 0) { %>

          This country borders the following countries:
          <% for (m = 0; m < country.borders.length; m++ ) { %>
            <br>
            <%= countryCodes.getName(country.borders[m], "en", {select: "official"}) %>
          <% } %>
        <% } %>
      </p>
      <p class="card-text">

      </p>

      <p class="card-text">
        The people of this country speak the following language(s):
        <% for (a = 0; a < country.languages.length; a++) { %>
          <br>
          <%= country.languages[a].name %> (native name: <%= country.languages[a].nativeName %>)
        <% } %>
      </p>

      <p class="card-text">
        The name of this country can be translated into the following languages:
        <% for (const language in country.translations) { %>
          <br>
          <%= langs.getName(language) %>: <%= country.translations[language] %>
        <% } %>
      </p>

      <p class="card-text">

        <a class="btn btn-primary" href="<%= 'https://www.google.com/maps/place/' + country.latlng[0] + ',' + country.latlng[1]%>" role="button">Google Map Location</a>

      </p>
    </small>
    <div style="text-align: center;">
      <i class="fas fa-minus-circle"></i>
    </div>
  </div>
  <br>
</div>
