<%- include('header', {tabTitle: "My Countries Search Application"}); -%>
  <div class="container">
    <form class="" action="/all" method="post">
      <br>
      <button type="submit" class="btn btn-outline-dark">Get All Countries!</button>
      <br>
      <br>
    </form>

    <%- error %>

    <%- include('searchForm', {route: "/by-name", placeholderText: "Enter name of country", buttonText: "Search by country name", formName: 'byName'}); -%>

    <%- include('searchForm', {route: "/by-full-name", placeholderText: "Enter full name of country", buttonText: "Search by full country name", formName: 'byFullName'}); -%>

    <%- include('searchForm', {route: "/by-country-code", placeholderText: "Enter country code (ex. CHN, GBR, etc)", buttonText: "Search by country code", formName: 'byCountryCode'}); -%>

    <%- include('searchForm', {route: "/by-currency", placeholderText: "Enter short-form currency (ex. USD, CAD)", buttonText: "Search by country currency", formName: 'byCurrency'}); -%>

    <%- include('searchForm', {route: "/by-language", placeholderText: "Enter language or ISO 639-1 language code", buttonText: "Search by language", formName: 'byLanguage'}); -%>

    <%- include('searchForm', {route: "/by-capital-city", placeholderText: "Enter capital city (ex. Ottawa)", buttonText: "Search by capital city", formName: 'byCapitalCity'}); -%>

    <%- /* include('searchForm', {route: "/by-calling-code", placeholderText: "Enter calling code", buttonText: "Search by calling code", formName: 'byCallingCode'}); */ -%>

    <%- include('searchForm', {route: "/by-region", placeholderText: "Enter region", buttonText: "Search by region", formName: 'byRegion'}); -%>

    <%- /* include('searchForm', {route: "/by-regional-bloc", placeholderText: "Enter regional bloc", buttonText: "Search by regional bloc", formName: 'byRegionalBloc'}); */ -%>

  </div>

<%- include('footer'); -%>
